---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";

import { Finger, CircleInfo } from "../../icons/AllIcons";

const { id } = Astro.params;
---

<Layout>
  --- ---

  <div class="container mx-auto items-center lg:max-w-6xl md:mas-w-3xl">
    <nav class="mb-5 mt-5">
      <div
        class="container mx-auto bg-white shadow-5xl bg-linear-to-r/decreasing from-[#0c3b87] to-[#1e56a0] rounded-lg text-white"
      >
        <div
          class="flex flex-col sm:flex-row justify-between text-center items-center p-6"
        >
          <div>
            <h3 class="flex flex-row text-center gap-3 mb-3">
              <Finger className="w-5 h-5" />
              Su Codigo de Usuario:
            </h3>
            <div
              class="py-2 px-4 font-bold text=xl bg-white/10 backdrop-invert backdrop-opacity-10 rounded-sm"
            >
              {id}
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</Layout>
