---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section class="max-w-3xl mx-auto px-4 py-12 text-black">
    <h1 class="text-3xl md:text-4xl font-bold text-black mb-6">
      Cont&aacute;ctanos
    </h1>

    <p class="mb-4">
      Si tienes dudas, sugerencias o deseas aportar al proyecto, puedes
      escribirnos usando el siguiente formulario.
      <span class="text-red-400 font-semibold"
        >No utilices este medio para denuncias.</span
      > Las denuncias deben hacerse desde la secci&oacute;n principal del sitio para
      garantizar el anonimato y la seguridad.
    </p>

    <form
      action="/api/contact"
      method="POST"
      class="space-y-6 mt-8 bg-[#eeeeee] p-6 rounded-2xl shadow-lg"
    >
      <div>
        <label for="nombre" class="block mb-1 text-black font-semibold"
          >Nombre (opcional)</label
        >
        <input
          type="text"
          id="nombre"
          name="nombre"
          class="w-full px-4 py-2 bg-white text-black rounded-md focus:outline-none focus:ring-2 focus:text-[#0c3b87]"
        />
      </div>

      <div>
        <label for="correo" class="block mb-1 text-black font-semibold"
          >Correo electr&oacute;nico (opcional, cifrado recomendado)</label
        >
        <input
          type="email"
          id="correo"
          name="correo"
          class="w-full px-4 py-2 bg-white text-black rounded-md focus:outline-none focus:ring-2 focus:text-[#0c3b87]"
        />
      </div>

      <div>
        <label for="mensaje" class="block mb-1 text-black font-semibold"
          >Mensaje</label
        >
        <textarea
          id="mensaje"
          name="mensaje"
          rows="5"
          required
          class="w-full px-4 py-2 bg-white text-black rounded-md focus:outline-none focus:ring-2 focus:text-[#0c3b87]"
        ></textarea>
      </div>

      <button
        type="submit"
        class="bg-[#0c3b87] hover:bg-[#1e56a0] text-white font-semibold px-6 py-2 rounded-md transition duration-300"
      >
        Enviar Mensaje
      </button>
    </form>

    <p class="mt-8 text-sm font-normal">
      ¿Tienes una denuncia? Hazla desde la secci&oacute;n <a
        href="/"
        class="text-[#0c3b87] hover:underline">Principal</a
      > del sitio.
    </p>
  </section>
</Layout>
