<div class="container mx-auto flex flex-col items-center text-center">
  <p>&copy; 2025 Fiscalía General de la República.</p>
  <div class="flex flex-wrap justify-center gap-4 mt-3 text-sm">
    <a href="/PreguntasFrecuentes" class="text-[#cbd5e0] hover:text-white"
      >Preguntas Frecuentes</a
    >
    <a href="/privacidad" class="text-[#cbd5e0] hover:text-white"
      >Política de Privacidad</a
    >
    <a href="/terminos" class="text-[#cbd5e0] hover:text-white"
      >Términos de Uso</a
    >
    <a href="/contactanos" class="text-[#cbd5e0] hover:text-white">Contacto</a>
  </div>
</div>
