---
import { Sun, Moon, Cloudsun } from "@/icons/AllIcons.tsx";
---

<span class="text-white font-bold flex flex-row items-center justify-center">
  <span id="saludo-dia" style="display: none;">Buenos días <Sun /></span>
  <span id="saludo-tarde" style="display: none;"
    >Buenas tardes <Cloudsun /></span
  >
  <span id="saludo-noche" style="display: none;">Buenas noches <Moon /></span>
</span>

<script is:inline>
  (function () {
    const hora = new Date().getHours();
    let elementoId = "";

    if (hora >= 6 && hora < 12) {
      elementoId = "saludo-dia";
    } else if (hora >= 12 && hora < 18) {
      elementoId = "saludo-tarde";
    } else {
      elementoId = "saludo-noche";
    }

    document.getElementById(elementoId).style.display = "flex";
  })();
</script>
